@model List<product>

<h1 class="pb-2 fst-italic">Product</h1>
<div class="d-flex justify-content-end pb-3">
    <a asp-controller="Product" asp-action="AddProduct" class="btn btn-group-lg btn-success btn-lg me-2 ">Add Product</a>
    <a asp-controller="Product" asp-action="addCategory" class="btn btn-info btn-group-lg btn-lg me-2 ">Add Category</a>
    <a asp-controller="Product" asp-action="addProductImage" class="btn btn-secondary btn-group-lg btn-lg ">Add Image for Product</a>
    
</div>
<table class="table fst-italic text-center">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Type</th>
            <th>Color</th>
            <th>Quantity</th>
            
            <th>Product Id</th>
            <th>Delete</th>
            <th>Edit</th>
            <th>Details</th>


        </tr>
    </thead>
    <tbody>

        @foreach (product c in Model)
        {
            <tr>
                @foreach (ProductImage productIma in c.ProductImagsss)
                {
                    <td><img class="rounded-1" src="~/photo/@productIma.path" width="80" height="60" /></td>
                    break;

                }
                
                <td>@c.ProName</td>
                <td>@c.ProPrice</td>
                <td>@c.category.CateName</td>
                <td>@c.Color</td>
                <td >@c.QuantityForAddPro</td>
                <td>@c.Id</td>
                <td>
                    <a asp-controller="Product" asp-action="DeleteProduct" asp-route-Id="@c.Id" class="btn btn-outline-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                        </svg>
                    </a>
                 </td>
                <td>
                    <a asp-controller="Product" asp-action="UpdateProduct" asp-route-Id="@c.Id" class="  btn btn-outline-info">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                        </svg>
                    </a>
                </td>
                <td>
                    <a asp-controller="Product" asp-action="ProductDetails" asp-route-Id="@c.Id" class="btn btn-outline-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" fill="currentColor" class="bi bi-border-width" viewBox="0 0 16 16">
                            <path d="M0 3.5A.5.5 0 0 1 .5 3h15a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-2zm0 5A.5.5 0 0 1 .5 8h15a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1zm0 4a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z" />
                        </svg>
                    </a>
                </td>
                
            </tr>
        }
    </tbody>
</table>
<div class="d-grid gap-2 col-2 pt-3">
    <a asp-controller="Home" asp-action="Index" class="btn btn-success mb-4  "> Back to Product</a>
</div>

